@model MVCClientDetails.Models.MVCClinetDetailsModel

@{
    ViewBag.Title = "AddOrEdit";
}

    <h2>Create/Update Data</h2>

<style>
    .spaceTop {
        padding: 10px 10px;
    }
</style>

<div class="form-body">
    @using (Html.BeginForm())
    {

        @Html.HiddenFor(model => model.ClientDetailsID);


        <div class="form-group spaceTop col-sm-12">
            <div class="col-sm-5 text-right ">@Html.LabelFor(model => model.FirstName)</div>
            <div class="col-sm-7">@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control",placeholder = "Enter First Name" })</div>
            <div class="col-sm-12 text-center"> @Html.ValidationMessageFor(model => model.FirstName)</div>
        </div>

        <div class="form-group spaceTop  col-sm-12">
            <div class="col-sm-5 text-right">@Html.LabelFor(model => model.LastName)</div>
            <div class="col-sm-7">@Html.TextBoxFor(model => model.LastName, new { @class = "form-control",placeholder = "Enter Last Name" })</div>
            <div class="col-sm-12 text-center"> @Html.ValidationMessageFor(model => model.LastName)</div>
        </div>

        <div class="form-group spaceTop col-sm-12">
            <div class="col-sm-5 text-right">@Html.LabelFor(model => model.EmailID)</div>
            <div class="col-sm-7">@Html.TextBoxFor(model => model.EmailID, new { @class = "form-control",type = "email", placeholder = "Enter Email" })</div>
            <div class="col-sm-12 text-center"> @Html.ValidationMessageFor(model => model.EmailID)</div>
        </div>
        <div class="form-group spaceTop  col-sm-12">
            <div class="col-sm-5 text-right">@Html.LabelFor(model => model.PhoneNo)</div>
            <div class="col-sm-7">@Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control",@type = "number",placeholder = "Enter Mobile No" })</div>
            <div class="col-sm-12 text-center"> @Html.ValidationMessageFor(model => model.PhoneNo)</div>
        </div>
        <div class="form-group spaceTop col-sm-12">
            <div class="col-sm-5 text-right">@Html.LabelFor(model => model.Gender)</div>
            <div class="col-sm-7">@Html.TextBoxFor(model => model.Gender, new { @class = "form-control",placeholder = "Enter Gender" })</div>
            <div class="col-sm-12 text-center"> @Html.ValidationMessageFor(model => model.Gender)</div>
        </div>
        <hr class="col-sm-12"/>
        <div class="form-group text-center">
            <input type="submit" value="Submit" class="btn btn-primary" />
            <input type="reset" value="Reset" class="btn btn-danger" />
        </div>

    }

</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

